        <div class="top-container">
            <p id="welcome-message">INVOICES</p>
        </div>


    <div class="table-container">
        <table class="tables">

            <th class="table-column"></th>
            <th class="table-column"></th>

            {{#each data.[0]}}
            <th class="table-column">
                {{@key}}
            </th>
            {{/each}}

            {{#each data}}
            <tr class="table-row">
                <td class="table-column"><button onclick="window.location.href='/edit-invoices/{{this.invoice_id}}';">EDIT</button></td>
                <td class="table-column"><button class="fa fa-remove" onclick='deleteInvoice({{this.invoice_id}})'>DELETE</button></td>
                <td class="table-column">{{this.invoice_id}}</td>
                <td class="table-column">{{this.date}}</td>
                <td class="table-column">{{this.customer_id}}</td>
                <td class="table-column">{{this.sales_person_id}}</td>
                <td class="table-column">{{this.boat_id}}</td>
                <td class="table-column">{{this.price}}</td>
            </tr>
            {{/each}}

        </table>

        <div class="change-data-btn-container">
            <button id="add-button">Add Invoice</button>
            <button id="change-button">Edit Invoice</button>
        </div>
    </div>

    <div class="form-container" id="add-boat-modal"> 
        <form class="BoatForm">
            <legend id="boat-legend"><strong>ADD INVOICE</strong></legend>
                <fieldset class="fields">
                    <div class="add-invoice-text">
                        <label>Date</label> <input type="text" name="boat_id" class="invoice-select-box">
                    </div>

                    <div class="add-invoice-text">
                    <label>Customer</label><select class="invoice-select-box" name="input-customer" id="input-customer-ajax">
                        <option value="">Select Customer</option>
                        {{#each customers}}
                         <option value="{{this.customer_id}}">{{this.customer_first_name}} {{this.customer_last_name}}</option>
                        {{/each}}
                    </select>
                    </div>

                    <div class="add-invoice-text">
                    <label>Sales Person</label><select class="invoice-select-box" name="input-sales-person" id="input-sales-person-ajax">
                        <option value="">Select Sales Person</option>
                        {{#each sales_person}}
                         <option value="{{this.sales_person_id}}">{{this.sales_person_first_name}} {{this.sales_person_last_name}}</option>
                        {{/each}}
                    </select>
                    </div>

                    <div class="add-invoice-text">
                    <label>Boat</label><select class="invoice-select-box" name="input-sales-person" id="input-sales-person-ajax">
                        <option value="">Select Boat</option>
                        {{#each boats}}
                         <option value="{{this.boat_id}}">{{this.year}} {{this.make}} {{this.model}} ${{this.price}}</option>
                        {{/each}}
                    </select>
                    </div>
                </fieldset>
         
            <div id="add-boat-btn-container">
                <input class="btn" type="button" id="boat-form-btn" value="Add Invoice">
                <input class="btn" type="button" id="boat-cancel-button" value="Cancel" >
            </div>
        </form> 
    </div>

    <div class="form-container" id="update-boat-modal"> 
        <form class="BoatForm">
            <legend id="boat-legend"><strong>UPDATE BOAT</strong></legend>
                <fieldset class="fields">
                    <div id="add-boat-text">
                        <label> Boat ID</label> <input type="text" name="boat_id">
                    </div>

                    <div id="add-boat-text">
                        <label> Make </label> <input type="text" name="make">
                    </div>
                        
                    <div id="add-boat-text">
                        <label> Model </label> <input type="text"  name="model">
                    </div>
                        
                    <div id="add-boat-text">
                        <label> Year </label> <input type="text" name="year">
                    </div>

                    <div id="add-boat-text">
                        <label> Price </label> <input type="text" name="price">
                    </div>

                    <div id="add-boat-text">
                        <label> Date Serviced </label> <input type="text" name="date_serviced">
                    </div>

                    <div id="add-boat-text">
                        <label> Serviced By </label> <input type="text" name="serviced_by">
                    </div>

                </fieldset>
          
            <div id="add-boat-btn-container">
                <input class="btn" type="submit" id="boat-form-btn" value="Update Boat">
                <input class="btn" type="button" id="boat-cancel-button" value="Cancel" >
            </div>
        </form>     
    </div>