        <div class="top-container">
            <p id="welcome-message">SALES PEOPLE</p>
        </div>

    <div class="table-container">
        <table class="tables" id="sales-person-table">

            <th class="table-column"></th>
            <th class="table-column"></th>

            {{#each data.[0]}}
            <th class="table-column">
                {{@key}}
            </th>
            {{/each}}

            {{#each data}}
            <tr class="table-row">
                <td class="table-column"><button onclick="window.location.href='/edit-invoices/{{this.invoice_id}}';">EDIT</button></td>
                <td class="table-column"><button class="fa fa-remove" onclick='deleteInvoice({{this.invoice_id}})'>DELETE</button></td>
                <td class="table-column">{{this.sales_person_id}}</td>
                <td class="table-column">{{this.sales_person_first_name}}</td>
                <td class="table-column">{{this.sales_person_last_name}}</td>
                <td class="table-column">{{this.commission}}</td>
            </tr>
            {{/each}}
        </table>

        <div class="change-data-btn-container">
            <button id="add-button">Add Sales Person</button>
            <button id="change-button">Edit Sales Person</button>
        </div>
    </div>

    <div class="form-container" id="add-boat-modal"> 
        <form class="BoatForm" id="add-sales-person-form-ajax">
            <legend id="boat-legend"><strong>ADD SALES PERSON</strong></legend>
                <fieldset class="fields">
                    <div id="add-boat-text">
                        <label>First Name</label> <input type="text" id="input-fname" name="boat_id">
                    </div>

                    <div id="add-boat-text">
                        <label>Last Name</label> <input type="text" id="input-lname" name="make">
                    </div>

                </fieldset>
         
            <div id="add-boat-btn-container">
                <input class="btn" type="submit" id="boat-form-btn" value="Add Sales Person">
                <input class="btn" type="button" id="boat-cancel-button" value="Cancel" >
            </div>
        </form> 
    </div>

    <script src="./js/add-sales-people.js"></script>

    <div class="form-container" id="update-boat-modal"> 
        <form class="BoatForm">
            <legend id="boat-legend"><strong>UPDATE BOAT</strong></legend>
                <fieldset class="fields">
                    <div id="add-boat-text">
                        <label> Boat ID</label> <input type="text" name="boat_id">
                    </div>

                    <div id="add-boat-text">
                        <label> Make </label> <input type="text" name="make">
                    </div>
                        
                    <div id="add-boat-text">
                        <label> Model </label> <input type="text"  name="model">
                    </div>
                        
                    <div id="add-boat-text">
                        <label> Year </label> <input type="text" name="year">
                    </div>

                    <div id="add-boat-text">
                        <label> Price </label> <input type="text" name="price">
                    </div>

                    <div id="add-boat-text">
                        <label> Date Serviced </label> <input type="text" name="date_serviced">
                    </div>

                    <div id="add-boat-text">
                        <label> Serviced By </label> <input type="text" name="serviced_by">
                    </div>

                </fieldset>
          
            <div id="add-boat-btn-container">
                <input class="btn" type="submit" id="boat-form-btn" value="Update Boat">
                <input class="btn" type="button" id="boat-cancel-button" value="Cancel" >
            </div>
        </form>     
    </div>